.Form {
    display: flex;
    justify-content: center;
    padding: 30px 0;
}
.Form input {
    padding: 10px;
}
#inputMessage {
    flex-grow: 10;
}

.Message:nth-child(odd) {
    background: rgba(0,0,0,0.1);
}
.Message {
    padding: 5px;
    color: rgba(0,0,0,0.3);
    font-size: 12px;
}
.Author {
    color: rgba(0,0,0,0.4);
    text-transform: capitalize;
}
.Message-text {
    display: block;
    color: black;
    font-size: 16px;
    padding: 5px 20px 10px;
}